@font-face {
  font-family: 'Quantum';
  src: url('./fonts/Quantum.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root{
  --dom-color-shad: rgba(0, 0, 0, 0);
  --dom-color: rgba(0, 0, 0, 0);
  --color1: rgba(0, 0, 0, 0);
  --color2: rgba(0, 0, 0, 0);
  --color3: rgba(0, 0, 0, 0);
  --color4: rgba(0, 0, 0, 0);
  --color5: rgba(0, 0, 0, 0);
  --color6: rgba(0, 0, 0, 0);
}
#cover, #track-name, #artist, #line1, #line2, #line3, #line4, #line5, #line6, #line7, #line8, #line9, #line10, #line11, #line12{
  transition: background-image 1.5s ease, box-shadow 2.5s ease, color 2.5s ease, background-color 2.5s ease;
}
body{
  overflow: hidden;
  margin: 0;
  font-family: 'Quantum',sans-serif;
  display: flex;

  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(10, 10, 10);
  /* transition: all ease-in 1s; */
  /* background: radial-gradient(circle, var(--dom-color-shad) 0%, rgba(0,0,0,1) 100%); */
  color: white;
}

/* #line_cont{
  position: absolute;
} */

/* left side */
#line1{
  width: 2px;
  height: 100vh;
  background-color: var(--color1);
  box-shadow: 0px 0px 20px 2px var(--color1);
  transform: translateX(-400px) skew(10deg);
  position: absolute;
}
#line2{
  width: 2px;
  height: 100vh;
  background-color: var(--color2);
  box-shadow: 0px 0px 20px 2px var(--color2);
  transform: translateX(-500px) skew(30deg);
  position: absolute;
}
#line3{
  width: 2px;
  height: 100vh;
  background-color: var(--color3);
  box-shadow: 0px 0px 20px 2px var(--color3);
  transform: translateX(-550px) skew(-15deg);
  position: absolute;
}
#line4{
  width: 2px;
  height: 100vh;
  background-color: var(--color4);
  box-shadow: 0px 0px 20px 2px var(--color4);
  transform: translateX(-600px) skew(20deg);
  position: absolute;
}
#line5{
  width: 2px;
  height: 100vh;
  background-color: var(--color5);
  box-shadow: 0px 0px 20px 2px var(--color5);
  transform: translateX(-800px) skew(33deg);
  position: absolute;
}
#line6{
  width: 2px;
  height: 100vh;
  background-color: var(--color6);
  box-shadow: 0px 0px 20px 2px var(--color6);
  transform: translateX(-900px) skew(32deg);
  position: absolute;
}

/* right side */
#line7{
  width: 2px;
  height: 100vh;
  background-color: var(--color1);
  box-shadow: 0px 0px 20px 2px var(--color1);
  transform: translateX(400px) skew(-10deg);
  position: absolute;
}
#line8{
  width: 2px;
  height: 100vh;
  background-color: var(--color2);
  box-shadow: 0px 0px 20px 2px var(--color2);
  transform: translateX(500px) skew(-30deg);
  position: absolute;
}
#line9{
  width: 2px;
  height: 100vh;
  background-color: var(--color3);
  box-shadow: 0px 0px 20px 2px var(--color3);
  transform: translateX(550px) skew(15deg);
  position: absolute;
}
#line10{
  width: 2px;
  height: 100vh;
  background-color: var(--color4);
  box-shadow: 0px 0px 20px 2px var(--color4);
  transform: translateX(600px) skew(-20deg);
  position: absolute;
}
#line11{
  width: 2px;
  height: 100vh;
  background-color: var(--color5);
  box-shadow: 0px 0px 20px 2px var(--color5);
  transform: translateX(800px) skew(-33deg);
  position: absolute;
}
#line12{
  width: 2px;
  height: 100vh;
  background-color: var(--color6);
  box-shadow: 0px 0px 20px 2px var(--color6);
  transform: translateX(900px) skew(-32deg);
  position: absolute;
}
.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
#cover{
  width: 300px;
  height: 300px;
  border: 1px solid #aa8e63;
  box-shadow: 0px 0px 20px 20px var(--dom-color-shad);
  border-radius: 1rem;
}
#track-name{
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 24px;
}
#artist{
  margin-top: 0.1rem
}
  